<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  Year completed: <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">
  <input type="submit" value="Edit Landmark">
</form>
